<header>
  <div>
    <h1 class="heading1">Nova admissão cooperado</h1>
    <p class="caption">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
  </div>
  <span></span>
  <div class="header-action-area">
    <mat-icon class="notifications-icon" [attr.data-notification-count]="7"
      >notifications</mat-icon
    >
    <ailos-button [rounded]="true" variant="secondary" size="p" fontFamily="secondary">
      VIACREDI
    </ailos-button>

    <div class="avatar-container">
      <img
        class="avatar"
        width="42px"
        height="42px"
        src="https://api.dicebear.com/9.x/avataaars/svg"
      />
      <mat-icon size="15px" class="settings-icon">settings</mat-icon>
    </div>
  </div>
</header>
