$gray: #889499;
$dark_white: #e6ecee;
$light_gray: #b4c5cc;
$sucess-green: #00c246;
$primary: #165c7d;
$ailos-light-blue: #009ed0;
$active_t_button: #ccdde4;
$ailos_blue: #165c7d;
$ailos_blue_60: #739db1;
$ailos_blue_120: #013f5c;
$ailos_blue_dark: #012f44;
