@use 'palette' as *;

$icon_size: 25px;
$burguer_icon_size: 25px;

.page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  height: 100%;
  padding: 0 2.6rem 2.6rem 2.6rem;
}
