<layout>
  <form class="search-form" [formGroup]="cpfForm" (ngSubmit)="searchCustomer()">
    <ailos-input
      (input)="handleInput()"
      [style]="{ width: '270px' }"
      [maxLength]="14"
      label="CPF"
      placeholder="Pequisar CPF"
      formControlName="cpf"
      [error]="(cpfForm.get('cpf').invalid && cpfForm.get('cpf').touched) || showError"
      [auxiliaryText]="getErrorText('cpf')"
    ></ailos-input>
    <ailos-button size="p" type="submit" [loading]="loading">Buscar </ailos-button>
  </form>

  <div *ngIf="customer" class="card-container">
    <simple-card title="Situação cadastral do CPF" subtitle="Consulta na receita federal">
      <info-item
        icon="person"
        iconColor="#889499"
        info="{{ this.customer.name }}"
        label="Nome"
      ></info-item>
      <info-item
        icon="check_circle_outline"
        iconColor="#00C246"
        info="{{ registrationStatus }}"
        label="Nome"
      ></info-item>
    </simple-card>

    <simple-card
      *ngFor="let account of customer.accountList"
      [title]="getAccountLabel(account.type)"
      subtitle="{{ account.institution }}"
    >
      <info-item
        icon="credit_card"
        iconColor="#889499"
        info="{{ account.accountNumber }}"
        label="Número da conta"
      ></info-item>

      <Button class="tertiary p">Duplicar conta</Button>
    </simple-card>
  </div>
</layout>
