<layout>
  <div class="stepper-container">
    <ailos-stepper [currentStep]="currentStep" [stepList]="stepList"></ailos-stepper>
  </div>
  <ailos-label
    class="title"
    subtitle="Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.
              Digite apenas os números (sem pontos ou traços)."
  >
    Informe o CPF do futuro cooperado (a)
  </ailos-label>
  <form class="search-form" [formGroup]="cpfForm" (ngSubmit)="fetchCustomerByCpf()">
    <ailos-input
      (input)="handleInput()"
      [style]="{ width: '270px' }"
      [maxLength]="14"
      label="CPF"
      placeholder="000.000.000-00"
      formControlName="cpf"
      [error]="(cpfForm.get('cpf').invalid && cpfForm.get('cpf').touched) || showError"
      [auxiliaryText]="getErrorText('cpf')"
    ></ailos-input>
    <ailos-button size="p" type="submit" [loading]="loading"
      >Consultar por CPF</ailos-button
    >
  </form>

  <div *ngIf="customer" class="card-container">
    <simple-card title="Situação cadastral do CPF" subtitle="Consulta na receita federal">
      <info-item
        icon="person"
        iconColor="#889499"
        info="{{ this.customer.name }}"
        label="Nome"
      ></info-item>
      <info-item
        [icon]="registerStatusIcon.icon"
        [iconColor]="registerStatusIcon.color"
        info="{{ registrationStatus }}"
        label="Situação do CPF"
      ></info-item>
    </simple-card>

    <simple-card
      *ngFor="let account of customer.accountList"
      [title]="getAccountLabel(account.type)"
      subtitle="{{ account.institution }}"
    >
      <info-item
        icon="credit_card"
        iconColor="#889499"
        info="{{ account.accountNumber }}"
        label="Número da conta"
      ></info-item>

      <ailos-button variant="tertiary">Duplicar conta</ailos-button>
    </simple-card>
  </div>
</layout>
